 /* 搜索输入框样式 */
#searchInput {
  padding: 8px 10px; /* 根据需要调整内边距 */
  margin-left: 10px; /* 与按钮保持一定间隔 */
  width: 115px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

#searchInput:focus {
  outline: none;
  border-color: #74aae3;
}

/* 搜索按钮样式 */
#searchButton {
  padding: 10px 20px; /* 根据需要调整内边距 */
  margin-left: 10px; /* 与搜索框和其它元素保持一定间隔 */
  border: none;
  border-radius: 5px;
  background-color: #839fbb;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#searchButton:hover {
  background-color: #000000;
}


/* Sidebar styles */
.sidebar {
  width: 380px; /* 侧边栏宽度 */
  height: 100vh; /* 使侧边栏填满视窗高度 */
  top: 80px; /* 紧接header之后 */
  background-color: #fafafa;
  /*padding: 20px;*/
  box-sizing: border-box;
  float: left;
  border-right: 1px solid #ccc; /* 添加右边框 */
  overflow-y: auto; /* 添加垂直滚动条 */
  font-style: normal;
  font-weight: 500;


  position: absolute;
  left: 20px;
  right: 0;
  bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: top .5s ease;
  -moz-transition: top .5s ease;
  -o-transition: top .5s ease;
  transition: top .5s ease;
}
 /* 新增的搜索容器样式 */
 .search-container {
   display: flex; /* 使用弹性布局 */
   align-items: center; /* 垂直居中 */
   justify-content: space-between; /* 元素之间的间距平均分布 */
   padding: 10px; /* 根据需要调整内边距 */
 }

 .sidebar p {
   font-size: 22px;
   margin-right: 10px; /* 与搜索框保持一定间隔 */
 }

.sidebar ul {
  list-style-type: none;
  padding: 5px;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.sidebar span{
  font-weight: bold;
}

/* Styles for speciesList */
#speciesList li {
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
  overflow: hidden; /* 隐藏溢出文本 */
  text-overflow: ellipsis; /* 添加省略号 */
}

#speciesList li:hover {
  /*background-color: #d7d7d7;*/
  background-color: #d7d7d7;
}
 #speciesList ul li ul li:hover {
   background-color: #e0e0e0;
 }


#speciesList ul {
  padding-left: 10px;
  margin-bottom: 2px;
}

#speciesList ul li {
  padding-left: 3px;
  margin-bottom: 5px;
}

#speciesList ul li.active {
  background-color: #e0e0e0; /* 点击后的背景颜色 */
}

#speciesList ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

#speciesList ul li a:hover {
  color: #004999;
}

/* Main content styles */
.content {
  margin-left: 380px; /* 调整内容区域的左边距 */
  padding: 20px;
  transition: opacity 0.5s ease;
  opacity: 0;
}

/* Clearfix for floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#formContainer {
  display: none;
  margin-top: 20px;
}

#formContainer.show {
  display: block;
}

/* 按钮样式 */
button {
  background-color: #83b4c8; /* 深绿色背景 */
  color: white; /* 白色文本 */
  border: none; /* 无边框 */
  border-radius: 5px; /* 边角圆滑 */
  padding: 10px 20px; /* 内边距调整 */
  font-size: 14px; /* 字体大小 */
  cursor: pointer; /* 鼠标指针样式 */
  transition: background-color 0.3s ease; /* 背景色过渡效果 */
}

/* 鼠标悬停时的按钮样式 */
button:hover {
  background-color: #839fc8; /* 更深的绿色 */
}

/*!* 清除按钮特定样式 *!*/
/*#clearButton {*/
/*  background-color: rgba(244, 67, 54, 0.99); !* 红色背景 *!*/
/*  margin-top: 10px;*/
/*}*/

/*#clearButton:hover {*/
/*  background-color: #d32f2f; !* 更深的红色 *!*/
/*}*/

/*!* 表单容器样式 *!*/
/*#formContainer {*/
/*  display: none;*/
/*  margin-top: 10px;*/
/*  margin-bottom: 5px;*/
/*  background-color: #f9f9f9; !* 浅灰色背景 *!*/
/*  padding: 20px; !* 内边距 *!*/
/*  border-radius: 8px; !* 边角圆滑 *!*/
/*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); !* 添加阴影 *!*/
/*}*/

/*!* 表单输入框样式 *!*/
/*#uploadForm input[type="text"] {*/
/*  width: calc(100% - 5px); !* 调整宽度以适应容器 *!*/
/*  padding: 8px; !* 内边距 *!*/
/*  margin-bottom: 10px; !* 下方空白 *!*/
/*  border: 1px solid #ccc; !* 边框 *!*/
/*  border-radius: 4px; !* 边角圆滑 *!*/
/*  font-size: 13px; !* 字体大小 *!*/
/*  box-sizing: border-box; !* 包含内边距和边框在宽度内 *!*/
/*}*/

/*!* 表单文件输入框样式 *!*/
/*#uploadForm input[type="file"] {*/
/*  margin-bottom: 10px; !* 下方空白 *!*/
/*}*/

/*!* 隐藏原生文件输入框 *!*/
/*#uploadForm input[type="file"] {*/
/*  display: none;*/
/*}*/

/*!* 表单提交按钮样式 *!*/
/*#uploadForm button {*/
/*  background-color: #83b4c8; !* 深绿色背景 *!*/
/*  color: white; !* 白色文本 *!*/
/*  border: none; !* 无边框 *!*/
/*  border-radius: 5px; !* 边角圆滑 *!*/
/*  padding: 10px 20px; !* 内边距 *!*/
/*  font-size: 14px; !* 字体大小 *!*/
/*  cursor: pointer; !* 鼠标指针样式 *!*/
/*  transition: background-color 0.3s ease; !* 背景色过渡效果 *!*/
/*  margin-top: 10px; !* 上下间距 *!*/
/*}*/

/*!* 自定义文件输入按钮 *!*/
/*.file-upload-button {*/
/*  display: inline-block;*/
/*  padding: 10px 20px; !* 内边距 *!*/
/*  background-color: #83b4c8;*/
/*  color: white; !* 白色文本 *!*/
/*  border: none; !* 无边框 *!*/
/*  border-radius: 5px; !* 边角圆滑 *!*/
/*  font-size: 14px; !* 字体大小 *!*/
/*  cursor: pointer;*/
/*  transition: background-color 0.3s ease; !* 背景色过渡效果 *!*/
/*}*/

/*!* 鼠标悬停时自定义按钮样式 *!*/
/*.file-upload-button:hover {*/
/*  background-color: #83b4c8; !* 更深的绿色 *!*/
/*}*/
.bgimage1 {
  //  position:absolute;
  //  bottom: 0;
  //  left: 0;
  //  height: auto;
  //  width: 100%;
  //  z-index: 0;
  //  opacity: 65%;
  //  pointer-events: none;
  //  object-fit: cover;
  //}
footer {
  position: relative; /* 相对于页面底部定位 */
  height: auto; /* footer的高度可以根据需要设置，也可以是auto */
  width: 100%; /* footer宽度占满整个视口 */
  /* 其他footer样式 */
}



